html{
background color:black;
color:skyblue:
font-size;20px
}

h1{
font-family:impact;
text-shadow:2px 2px 7px green;
color:white;
margin-top;90px
margin-left:2px 
}

h2{
color: white;
}

body{
margin-left:140px;
margin-right:140px;
line-height:20px;

}